@model RBS.Models.MeetingModel

@{
    ViewBag.Title = "Add Attendee";
}

<link href="~/Content/selectize.css" rel="stylesheet" />

<h2>Add Attendee</h2>


@using (Html.BeginForm()) 
{
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }

    <div class="form-horizontal">
        <hr />
        
        <div class="container">
            <form>
                <label class="radio-inline">
                    <input type="radio" name="radiobutton" value="0">Adding by select attendee
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radiobutton" value="1">Adding by select department (All Staff who under selected department will be added)
                </label>
            </form>
        </div>
        
        <br/>

        <div class="form-group hidden" id="user">
            <div class="col-md-12">
                Search by typing on the textbox below. You can select multiple users.
                <br />
                <br />
            </div>
            <div class="col-md-12">
                <div class="sandbox">
                    <label for="input-users-selectized">Selected Users:</label>
                    <input type="text" id="input-users" name="selectedUsers" class="demo-default selectized" value="" tabindex="-1" style="display: none;">
                </div>
            </div>
        </div>

        <div class="form-group hidden" id="department">
            <div class="col-md-12">
                Search by typing on the textbox below. You can select multiple departments.
                <br />
                <br />
            </div>
            <div class="col-md-12">
                <div class="sandbox">
                    <label for="input-departments-selectized">Selected Departments:</label>
                    <input type="text" id="input-departments" name="selectedDepts" class="demo-default selectized" value="" tabindex="-1" style="display: none;">
                </div>
            </div>
        </div>

        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-primary" />&nbsp;&nbsp;@Html.ActionLink("Back to Create Meeting", "Create")
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>

@section Scripts {
    <script type="text/javascript">

        $('#input-users').selectize({
            persist: false,
            maxItems: null,
            valueField: 'ID',
            labelField: 'Name',
            searchField: ['Name'],
            options: @Html.Raw(ViewBag.Users)
        });

        $('#input-departments').selectize({
            persist: false,
            maxItems: null,
            valueField: 'ID',
            labelField: 'Name',
            searchField: ['Name'],
            options: @Html.Raw(ViewBag.Departments)
        });

        $(document).ready()
        {
            $('input[name=radiobutton]').change(function () {
                var value = $('input[name=radiobutton]:checked').val();

                // 0 = Add by User, 1 = Add by Department
                if (value > 0) {
                    $("#department").removeClass('hidden');
                    $('#user').addClass('hidden');
                }
                else {
                    $("#department").addClass('hidden');
                    $('#user').removeClass('hidden');
                }
            });
        }
    </script>
}
